Django==4.2
ipdb==0.13.13
flake8==6.0.0
django-environ==0.10.0
pillow==9.4.0
faker==18.3.1
django-widget-tweaks==1.4.12
weasyprint==58.1
django-lifecycle==1.0.0
celery[redis]==5.2.7
django-celery-results==2.5.0
django-extensions==3.2.1
django-celery-beat==2.5.0
django-rosetta==0.9.9