{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% if validlink %}
        <div class="col-12 col-lg-4 offset-lg-4 my-3 my-lg-5">
            <h2>Password reset</h2>
            <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <form method="post">
                {% include 'parts/form.html' with form=form %}
                <input type="submit" class="btn btn-primary w-100"
                       value="Change my password">
            </form>
        </div>
    {% else %}

        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}
{% endblock content %}