{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="col-12 col-lg-4 offset-lg-4 my-3 my-lg-5">
        <h2>{% translate 'Password change' %}</h2>
        <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
        <form method="post">
            {% include 'parts/form.html' with form=form %}
            <input type="submit" class="btn btn-primary w-100" value="{% translate 'Change my password' %}">
        </form>
    </div>
{% endblock content %}