{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="col-12">
        <div class="card export my-3">
            <div class="card-body">
                <h5 class="card-title d-inline">{% translate 'Export products:' %}</h5>
                <span class="h2 d-inline">
                    <a href="{% url 'products_to_csv' %}"><i class="bi bi-filetype-csv"></i></a>
                </span>
                <span class="h2 d-inline">
                    <a href="{% url 'products_to_pdf' %}"><i class="bi bi-filetype-pdf"></i></a>
                </span>
            </div>
        </div>
    </div>
    {% for product in products %}
        <div class="col-12 {% if product.products.exists %}col-lg-6{% else %}col-lg-3{% endif %} mt-3 mt-lg-5">
            <div class="card">
                <a href="{% url 'product' product.id %}">
                    {% if product.image %}
                        <figure class="text-center">
                            <img src="{{ product.image.url }}"
                                 class="product-img p-3"
                                 alt="{{ product.name }}">
                        </figure>
                    {% else %}
                        <figure class="text-center">
                            <img src="{% static 'images/logo.png' %}"
                                 class="product-img p-3"
                                 alt="{{ product.name }}">
                        </figure>
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="small">
                        {% for category in product.categories.iterator %}
                            <span class="text-success">{{ category.name }} </span>
                        {% endfor %}
                    </p>
                    <p class="card-text">
                        {{ product.description|truncatewords:16 }}
                    </p>
                    <p class="card-text">
                        {{ product.price }}
                    </p>
                    <p class="card-text">
                        {{ product.sku }}
                    </p>
                    <p>
                        <a href="javascript:void(0)" class="favourite-link" data-product_id="{{ product.id }}">
                            <i class="bi {% if product.is_favourite %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
                        </a>
                    </p>
                    {% if product.products.exists %}
                        <p>Including:</p>
                        {% for sub in product.products.iterator %}
                            <div class="d-inline-flex flex-column rounded border p-2 m-1 sub-product">
                                <p>{{ sub.name }}</p>
                                <figure class="text-center d-inline">
                                    <img src="{{ sub.image.url }}"
                                         class="product-img p-3"
                                         alt="{{ product.name }}">
                                </figure>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post" action="{% url 'cart_action' 'add' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id"
                               value="{{ product.id }}">
                        <input type="submit" value="Add to cart"
                               class="btn btn-warning w-100">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if products %}
        {% include 'parts/paginator.html' %}
    {% endif %}
{% endblock content %}
{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            $('.favourite-link').click(function () {
                add_or_remove_favourite($(this), "{{ csrf_token }}")
            })
        })
    </script>
{% endblock extra_scripts %}