{% load widget_tweaks %}

{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% elif field|widget_type == 'textarea' %}
        <label for="{{ field.id_for_label }}"
               class="form-label">
            {{ field.label }}
        </label>
        <textarea id="{{ field.id_for_label }}"
                  class="form-control"
                  name="{{ field.name }}"
                  {% if field.field.required %}required{% endif %}></textarea>
    {% else %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}"
                   class="form-label">
                {{ field.label }}
            </label>
            <input type="{% if field|field_type == 'integerfield' %}number{% else %}text{% endif %}"
                   class="form-control"
                   id="{{ field.id_for_label }}"
                   name="{{ field.name }}"
                   {% if field.field.required %}required{% endif %}
                   aria-describedby="{{ field.name }}Help">
            {% if field.help_text %}
                <div id="{{ field.name }}Help" class="form-text">
                    {{ field.help_text }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% for error in  field.errors %}
        <p class="small text-danger">{{ error }}</p>
    {% endfor %}
{% endfor %}