{% if page_obj %}
    <div class="d-flex align-items-center flex-column">
        <div class="pagination my-3">
            {% if page_obj.has_previous %}
                <span class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.previous_page_number }}">previous</a>
                </span>
            {% endif %}
            {% for i in "x"|rjust:page_obj.paginator.num_pages %}
                <span class="page-item {% if page_obj.number == forloop.counter %}active{% endif %}">
                    <a class="page-link"
                       href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </span>
            {% endfor %}
            {% if page_obj.has_previous %}
                <span class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.paginator.num_pages }}">last</a>
                </span>
            {% endif %}

            {#    {% if page_obj.has_previous %}#}
            {#        <span class="page-item">#}
            {#            <a class="page-link" href="?page=1">&laquo; first</a>#}
            {#        </span>#}
            {#        <span class="page-item">#}
            {#            <a class="page-link"#}
            {#               href="?page={{ page_obj.previous_page_number }}">previous</a>#}
            {#        </span>#}
            {#    {% endif %}#}
            {##}
            {##}
            {#    <span class="page-link active">#}
            {#        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
            {#    </span>#}
            {##}
            {#    {% if page_obj.has_next %}#}
            {#        <span class="page-item">#}
            {#            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>#}
            {#        </span>#}
            {#        <span class="page-item">#}
            {#            <a class="page-link"#}
            {#               href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
            {#        </span>#}
            {#    {% endif %}#}
        </div>
    </div>
{% endif %}